<div class="popup" id="popupForAdmin">
    <div class="popup__body">
        <div class="popup__content">
            <div class="popup__close-btn popup__close-btn--dark" data-popup="close-popup"><i class="icon-cross"></i></div>
            <div class="popup__wrap">
                <p class="big-txt text-center mb-1 popup__title">Для <span>администраторов</span></p>
                <p class="text-center mb-4 popup__sub-title">Что получите на курсе:</p>
                <ul class="popup__list">
                    <li>Создадите и прокачаете личный бренд</li>
                    <li>Повысите свою компетенцию</li>
                    <li>Освоите лайфхаки, как стать собственником салона</li>
                    <li>Разовьете навыки для увеличения дохода</li>
                    <li>Ускорите карьерный рост</li>
                    <li>Укрепите свой авторитет</li>
                    <li>Повысите уровень удовлетворенности от работы</li>
                </ul>
                <button class="button button--full mb-2">Записаться на курс</button>
            </div>
        </div>
    </div>
</div>
<div class="popup" id="popupIndividualTariff">
    <div class="popup__body">
        <div class="popup__content">
            <div class="popup__close-btn popup__close-btn--dark" data-popup="close-popup"><i class="icon-cross"></i></div>
            <div class="popup__wrap">
                <p class="big-txt text-center mb-1 popup__title">ТАРИФ <br><span>«ИНДИВИДУАЛЬНЫЙ»</span></p>
                <p class="text-center mb-3 mb-lg-4 popup__sub-title">Предложение для администраторов и&nbsp;мастеров
                </p>
                <p>
                    Воспользуйтесь возможностью сэкономить и получить максимум знаний! При покупке всех 3 модулей сейчас скидка составит 34%
                    <br>Не откладывайте на потом свой личный рост!
                </p>
                <fieldset class="tariffs__select-points">
                    <label class="checkbox">
                        <input class="checkbox__input" type="checkbox" name="tariff-individual" value="1000">
                        <span class="checkbox__span"></span>
                        <span class="checkbox__text">Модуль 1. Золотой стандарт сервиса</span>
                    </label>
                    <label class="checkbox">
                        <input class="checkbox__input" type="checkbox" name="tariff-individual" value="2000">
                        <span class="checkbox__span"></span>
                        <span class="checkbox__text">Модуль 2. Золотой стандарт продаж</span>
                    </label>
                    <label class="checkbox">
                        <input class="checkbox__input" type="checkbox" name="tariff-individual" value="3000">
                        <span class="checkbox__span"></span>
                        <span class="checkbox__text">Модуль 3. Золотой стандарт профессии администратор</span>
                    </label>
                </fieldset>
                <div class="popup__price-wrap">
                    <div class="popup__price-title">
                        Стоимость:
                    </div>
                    <div class="popup__price-values text-end">
                        <span class="popup__price-old"><span id="individualTariffOldPriceValue">13 990</span> ₽</span>
                        <div class="popup__price-current"><span id="individualTariffCurrentPriceValue">9990</span> ₽</div>
                    </div>
                </div>
                <button class="button button--full mb-2">Записаться на курс</button>
                <button class="button button--transparent-purple button--full">Заказать звонок</button>
            </div>
        </div>
    </div>
</div>
<div class="popup" id="popupCommandTariff">
    <div class="popup__body">
        <div class="popup__content">
            <div class="popup__close-btn popup__close-btn--dark" data-popup="close-popup"><i class="icon-cross"></i></div>
            <div class="popup__wrap">
                <p class="big-txt text-center mb-1 popup__title">ТАРИФ <br><span>«КОМАНДНЫЙ»</span></p>
                <p class="text-center mb-3 mb-lg-4 popup__sub-title">Предложение для собственников и&nbsp;управляющих бизнеса в сфере услуг
                </p>
                <p>
                    Приобретите курс для каждого администратора, это удобно и выгодно:
                </p>
                <ul class="popup__list mb-4">
                    <li>индивидуальные задания;</li>
                    <li>персональная проверка;</li>
                    <li>личные скрипты;</li>
                    <li>свой доступ в чат с экспертами.</li>
                </ul>
                <p class="popup__attention">Не упустите шанс получить <br>100% командный результат!</p>
                <fieldset class="tariffs__select-points tariffs__select-points--radio">
                    <label class="radio">
                        <input class="radio__input" type="radio" name="tariff-command" value="1000">
                        <span class="radio__span"></span>
                        <span class="radio__text">2 человека (скидка 10%)</span>
                    </label>
                    <label class="radio">
                        <input class="radio__input" type="radio" name="tariff-command" value="1000">
                        <span class="radio__span"></span>
                        <span class="radio__text">3 человека (скидка 25%)</span>
                    </label>
                    <label class="radio">
                        <input class="radio__input" type="radio" name="tariff-command" value="1000">
                        <span class="radio__span"></span>
                        <span class="radio__text">4 + человека (скидка 34%)</span>
                    </label>
                </fieldset>
                <div class="popup__price-wrap">
                    <div class="popup__price-title">
                        Стоимость:
                    </div>
                    <div class="popup__price-values text-end">
                        <span class="popup__price-old"><span id="individualTariffOldPriceValue">13 990</span> ₽</span>
                        <div class="popup__price-current"><span id="individualTariffCurrentPriceValue">9990</span> ₽</div>
                    </div>
                </div>
                <button class="button button--full mb-2">Записаться на курс</button>
                <button class="button button--transparent-purple button--full">Заказать звонок</button>
            </div>
        </div>
    </div>
</div>

<div class="popup" id="popupFeedback">
    <div class="popup__body">
        <div class="popup__content">
            <div class="popup__close-btn popup__close-btn--dark" data-popup="close-popup"><i class="icon-cross"></i></div>
            <div class="popup__wrap">
                <p class="big-txt text-center mb-1 popup__title">ЗАКАЗАТЬ <span>ЗВОНОК</span></p>
                <p class="text-center mb-3 mb-lg-4 popup__sub-title">Оставьте контактный телефон и мы вам перезвоним</p>
                <form action="">
                    <div class="form__input-wrap mb-3">
                        <div class="form__input-name">Имя</div>
                        <div>
                            <input class="form__input" name="name" value="" inputmode="text" required="" placeholder="Введите ваше имя">
                        </div>
                    </div>
                    <div class="form__input-wrap mb-5">
                        <div class="form__input-name">Телефон</div>
                        <div data-mask="+7 (999) 999-99-99">
                            <input type="tel" class="form__input" placeholder="+7 (___) ___-__-__" name="phone" value="" inputmode="text" required="">
                        </div>
                    </div>
                </form>
                <button class="button button--full">Отправить</button>
            </div>
        </div>
    </div>
</div>