.faq {
  &__col {
    @include media-breakpoint-down(lg){
      &:first-child {
        margin-bottom: 20px;
      }
    }
  }
  & .accordion-item {
    background-color: $white;
    border-radius: 12px;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .accordion-button:focus {
    box-shadow: none;
  }
  .accordion-button {
    font-weight: 700;
    color: $second-color;
  }
  .accordion-body {
    padding-top: 0;
  }
  .accordion-button:after {
    background-image: url("../img/icons/accordion-open.svg");
    background-size: 28px 35px;
    width: 28px;
    height: 35px;
  }
  .accordion-button:not(.collapsed):after {
    background-image: url("../img/icons/accordion-close.svg");
  }
}
