<section data-aos="fade-in" data-aos-duration="1500" data-aos-once="true">
    <div class="container-xl">
        <h2 class="text-center mb-30">FAQ</h2>
        <div class="accordion faq row">
            <div class="col-12 col-lg-6 faq__col">
                <div class="accordion-item">
                    <div class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                            Accordion Item #1
                        </button>
                    </div>
                    <div id="collapse1" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <p>В первую очередь, вы будете точно знать, какой функционал работы администратора вам нужно знать, и будете понимать,  что делать в непредвиденных ситуациях. И, конечно, научитесь,  как продуктивно общаться с клиентами, вашими коллегами и боссом.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                            Accordion Item #2
                        </button>
                    </div>
                    <div id="collapse2" class="accordion-collapse collapse show">
                        <div class="accordion-body">
                            <p>В первую очередь, вы будете точно знать, какой функционал работы администратора вам нужно знать, и будете понимать,  что делать в непредвиденных ситуациях. И, конечно, научитесь,  как продуктивно общаться с клиентами, вашими коллегами и боссом.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                            Accordion Item #3
                        </button>
                    </div>
                    <div id="collapse3" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <p>В первую очередь, вы будете точно знать, какой функционал работы администратора вам нужно знать, и будете понимать,  что делать в непредвиденных ситуациях. И, конечно, научитесь,  как продуктивно общаться с клиентами, вашими коллегами и боссом.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 faq__col">
                <div class="accordion-item">
                    <div class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
                            Accordion Item #4
                        </button>
                    </div>
                    <div id="collapse4" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <p>В первую очередь, вы будете точно знать, какой функционал работы администратора вам нужно знать, и будете понимать,  что делать в непредвиденных ситуациях. И, конечно, научитесь,  как продуктивно общаться с клиентами, вашими коллегами и боссом.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
                            Accordion Item #5
                        </button>
                    </div>
                    <div id="collapse5" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <p>В первую очередь, вы будете точно знать, какой функционал работы администратора вам нужно знать, и будете понимать,  что делать в непредвиденных ситуациях. И, конечно, научитесь,  как продуктивно общаться с клиентами, вашими коллегами и боссом.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="true" aria-controls="collapse6">
                            Accordion Item #6
                        </button>
                    </div>
                    <div id="collapse6" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <p>В первую очередь, вы будете точно знать, какой функционал работы администратора вам нужно знать, и будете понимать,  что делать в непредвиденных ситуациях. И, конечно, научитесь,  как продуктивно общаться с клиентами, вашими коллегами и боссом.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>