<div class="menu" data-menu="menu">
    <div class="container menu__container">
        <div class="d-block d-lg-none menu__select-language">

        </div>
        <hr class="d-block d-lg-none menu__hr">
        <div class="menu__list">
            <a href="#" class="menu__list-item menu__list-item--with-sub-menu" data-menu="item">
                <i class="icon-house"></i>
                <span>О нас</span>
                <div class="menu__sub-list" data-menu="sub-list">
                    <div class="container menu__container">
                        <i class="d-block d-lg-none icon-arrow-left" data-menu="back-button"></i>
                        <div class="menu__sub-item">diHouse distribution</div>
                        <div class="menu__sub-item">diHouse ecom</div>
                        <div class="menu__sub-item">diHouse for business</div>
                        <div class="menu__sub-item">diHouse smart solutions</div>
                    </div>
                </div>
            </a>
            <a href="#" class="menu__list-item menu__list-item--with-sub-menu" data-menu="item">
                <i class="icon-fork"></i>
                <span>Направления</span>
                <div class="menu__sub-list" data-menu="sub-list">
                    <div class="container menu__container">
                        <i class="d-block d-lg-none icon-arrow-left" data-menu="back-button"></i>
                        <div class="menu__sub-item">diHouse distribution</div>
                        <div class="menu__sub-item">diHouse ecom</div>
                        <div class="menu__sub-item">diHouse for business</div>
                        <div class="menu__sub-item">diHouse smart solutions</div>
                    </div>
                </div>
            </a>
            <a href="#" class="menu__list-item">
                <i class="icon-user-plus"></i>
                <span>Стать партнером</span>
            </a>
            <a href="#" class="menu__list-item">
                <i class="icon-console"></i>
                <span>API</span>
            </a>
            <a href="#" class="menu__list-item">
                <i class="icon-statistic"></i>
                <span>Маркетинг</span>
            </a>
            <a href="#" class="menu__list-item">
                <i class="icon-trail"></i>
                <span>Логистика</span>
            </a>
        </div>
        <div class="d-block d-lg-none menu__search">
            <div class="input-container company-groups__search">
                <input class="input input--search" placeholder="Поиск" type="text">
                <button class="icon-search"></button>
            </div>
        </div>
    </div>

</div>