<section>
    <div class="container">
        <div class="row mb-3">
            <div class="col-4">
                <h2>Наши <span>cпикеры</span></h2>
            </div>
            <div class="col-4">
                <p>Внедрили основы высокого сервиса в 80 салонов в России, СНГ и Европе и обучили более 2000 администраторов и мастеров.</p>
            </div>
        </div>
        <div class="row speakers">
            <div class="col-4">
                <div class="speakers__item">
                    <div class="speakers__item-img">
                        <img src="img/speak-1.jpg" alt="..." >
                    </div>
                    <div class="speakers__item-info">
                        <p class="big-txt speakers__item-name mb-20">Анна-Роксана Халецкая</p>
                        <ul class="speakers__item-about-list">
                            <li><span>Главный амбассадор Вселенной макияжа Dior 2014-2019,</span> национальный тренинг-менеджер
                                в крупнейшем международном холдинге
                                <span>люксовых брендов LVMH.</span></li>
                            <li><span>Стилист-визажист международного уровня.</span>
                                Создавала  образовательные проекты для индустрии красоты и моды.
                                <span>Обучила техникам продаж и высокому сервису более 10 тысяч человек.</span></li>
                            <li>Телеведущая и эксперт развлекательных программ на <span>НТВ и РенТВ.</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="speakers__item speakers__item--out">
                    <div class="speakers__item-img">
                        <img src="img/speak-2.jpg" alt="..." >
                    </div>
                    <div class="speakers__item-info">
                        <p class="big-txt speakers__item-name mb-20">Лора Анч</p>
                        <ul class="speakers__item-about-list">
                            <li><span>Генеральный директор компании Wai Thai Spa,</span> крупнейшей в
                            России сети премиальных салонов тайского массажа.
                            Флагманское отделение сети — <span>Wai Thai City —
                                является самым высококлассным спа в Европе.</span></li>
                            <li>Основатель агентства по работе с иностранным персоналом
                                <span>Filippinki.ru</span> — филиппинские няни, домработницы по всему
                            миру, с офисами в Москве и в Дубае.</li>
                            <li>Основатель и идейный вдохновитель умного
                            помощника для сферы услуг Wellness & Beauty
                            — CRM-системы <span>«Ceezaam».</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="speakers__item">
                    <div class="speakers__item-img">
                        <img src="img/speak-3.jpg" alt="..." >
                    </div>
                    <div class="speakers__item-info">
                        <p class="big-txt speakers__item-name mb-20">Ольга Пискарева</p>
                        <ul class="speakers__item-about-list">
                            <li><span>5 лет владела успешным бизнесом в сфере Wellness & Beauty</span></li>
                            <li>Главная управляющая сети тайских спа-салонов премиум-класса</li>
                            <li>Более 10 лет работала в финансах,
                            в том числе финансовым менеджером в
                            Британской Школы Искусства и Дизайна.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="text-center mb-30">
            <h2 class="heading-ico--star">Приглашенные <span>эксперты</span></h2>
        </div>
        <div class="row speakers">
            <div class="col-4">
                <div class="speakers__item">
                    <div class="speakers__item-img">
                        <img src="img/exp-1.jpg" alt="..." >
                    </div>
                    <div class="speakers__item-info">
                        <p class="big-txt speakers__item-name mb-20">
                            Сергей Теймуров
                        </p>
                        <ul class="speakers__item-about-list">
                            <li><span>Главный амбассадор Вселенной макияжа Dior 2014-2019,</span> национальный тренинг-менеджер
                                в крупнейшем международном холдинге
                                <span>люксовых брендов LVMH.</span></li>
                            <li><span>Стилист-визажист международного уровня.</span>
                                Создавала  образовательные проекты для индустрии красоты и моды.
                                <span>Обучила техникам продаж и высокому сервису более 10 тысяч человек.</span></li>
                            <li>Телеведущая и эксперт развлекательных программ на <span>НТВ и РенТВ.</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="speakers__item speakers__item--out">
                    <div class="speakers__item-img">
                        <img src="img/exp-2.jpg" alt="..." >
                    </div>
                    <div class="speakers__item-info">
                        <p class="big-txt speakers__item-name mb-20">Оксана Разумова</p>
                        <ul class="speakers__item-about-list">
                            <li><span>Генеральный директор компании Wai Thai Spa,</span> крупнейшей в
                                России сети премиальных салонов тайского массажа.
                                Флагманское отделение сети — <span>Wai Thai City —
                                является самым высококлассным спа в Европе.</span></li>
                            <li>Основатель агентства по работе с иностранным персоналом
                                <span>Filippinki.ru</span> — филиппинские няни, домработницы по всему
                                миру, с офисами в Москве и в Дубае.</li>
                            <li>Основатель и идейный вдохновитель умного
                                помощника для сферы услуг Wellness & Beauty
                                — CRM-системы <span>«Ceezaam».</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="speakers__item">
                    <div class="speakers__item-img">
                        <img src="img/exp-3.jpg" alt="..." >
                    </div>
                    <div class="speakers__item-info">
                        <p class="big-txt speakers__item-name mb-20">
                            Ланна Камилина
                        </p>
                        <ul class="speakers__item-about-list">
                            <li><span>5 лет владела успешным бизнесом в сфере Wellness & Beauty</span></li>
                            <li>Главная управляющая сети тайских спа-салонов премиум-класса</li>
                            <li>Более 10 лет работала в финансах,
                                в том числе финансовым менеджером в
                                Британской Школы Искусства и Дизайна.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <h2 class="mb-30">Отзывы</h2>
        <div class="row speakers">
            <div class="col-3">
                <div class="speakers__item">
                    <div class="speakers__item-img">
                        <img src="img/review-1.jpg" alt="..." >
                    </div>
                    <div class="speakers__item-info">
                        <p class="speakers__item-name--md mb-20">
                            Сергей Сильный
                        </p>
                        <p class="mb-20"><span><b>Сделал +10 млн рублей после прохождения курса</b></span></p>
                        <p>Более 10 лет в маркетинге в сфере услуг, активно сотрудничает с такими сетям как Подружки, 4hands, Кисточки, City Nails, Пальчики, Wai Thai. А также с Enhel Dome, DataHeroes, KpiBi, YCLIENTS, БьютиБот и другими классными проектами.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="speakers__item">
                    <div class="speakers__item-img">
                        <img src="img/review-1.jpg" alt="..." >
                    </div>
                    <div class="speakers__item-info">
                        <p class="speakers__item-name--md mb-20">
                            Сергей Сильный
                        </p>
                        <p class="mb-20"><span><b>Сделал +10 млн рублей после прохождения курса</b></span></p>
                        <p>Более 10 лет в маркетинге в сфере услуг, активно сотрудничает с такими сетям как Подружки, 4hands, Кисточки, City Nails, Пальчики, Wai Thai. А также с Enhel Dome, DataHeroes, KpiBi, YCLIENTS, БьютиБот и другими классными проектами.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="speakers__item">
                    <div class="speakers__item-img">
                        <img src="img/review-1.jpg" alt="..." >
                    </div>
                    <div class="speakers__item-info">
                        <p class="speakers__item-name--md mb-20">
                            Сергей Сильный
                        </p>
                        <p class="mb-20"><span><b>Сделал +10 млн рублей после прохождения курса</b></span></p>
                        <p>Более 10 лет в маркетинге в сфере услуг, активно сотрудничает с такими сетям как Подружки, 4hands, Кисточки, City Nails, Пальчики, Wai Thai. А также с Enhel Dome, DataHeroes, KpiBi, YCLIENTS, БьютиБот и другими классными проектами.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="speakers__item">
                    <div class="speakers__item-img">
                        <img src="img/review-1.jpg" alt="..." >
                    </div>
                    <div class="speakers__item-info">
                        <p class="speakers__item-name--md mb-20">
                            Сергей Сильный
                        </p>
                        <p class="mb-20"><span><b>Сделал +10 млн рублей после прохождения курса</b></span></p>
                        <p>Более 10 лет в маркетинге в сфере услуг, активно сотрудничает с такими сетям как Подружки, 4hands, Кисточки, City Nails, Пальчики, Wai Thai. А также с Enhel Dome, DataHeroes, KpiBi, YCLIENTS, БьютиБот и другими классными проектами.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>