<section data-aos="fade-in" data-aos-duration="1500" data-aos-once="true" id="program">
    <div class="container-xl">
        <div class="row">
            <div class="col-12 col-xxl-3 mb-4 mb-xxl-0">
                <h2>
                    Программа обучения <br><span>и цены</span>
                </h2>
            </div>
            <div class="col-12 col-xxl-9">
                <div class="modules">
                    <img class="modules__logo" src="img/logo-left.svg" alt="...">
                    <div class="modules__item">
                        <div class="row">
                            <div class="col-12 col-md-3 col-xxl-5 modules__item-head">
                                <div class="modules__item-num">Модуль 1</div>
                                <p class="big-txt modules__item-name">Золотой стандарт <span>сервиса</span></p>
                            </div>
                            <div class="col-12 col-md-9 col-xxl-7 d-block d-md-flex modules__item-list">
                                <div class="modules__item-list-column">
                                    <div class="modules__item-list-item">
                                        <span>1.</span>
                                        <p>Вводный урок</p>
                                    </div>
                                    <div class="modules__item-list-item">
                                        <span>2.</span>
                                        <p>Стандарты клиентского сервиса</p>
                                    </div>
                                    <div class="modules__item-list-item">
                                        <span>3.</span>
                                        <p>Портрет идеального администратора</p>
                                    </div>
                                    <div class="modules__item-list-item">
                                        <span>4.</span>
                                        <p>Этика общения</p>
                                    </div>
                                </div>
                                <div class="modules__item-list-column">
                                    <div class="modules__item-list-item">
                                        <span>5.</span>
                                        <p>Типология клиентов</p>
                                    </div>
                                    <div class="modules__item-list-item">
                                        <span>6.</span>
                                        <p>Работа с конфликтными ситуациями</p>
                                    </div>
                                    <div class="modules__item-list-item">
                                        <span>7.</span>
                                        <p>Звёздный мастер-класс</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modules__item modules__item--active">
                        <div class="row">
                            <div class="col-12 col-md-3 col-xxl-5 modules__item-head">
                                <div class="modules__item-num">Модуль 2</div>
                                <p class="big-txt modules__item-name">Золотой стандарт <span>продаж</span></p>
                            </div>
                            <div class="col-12 col-md-9 col-xxl-7 d-block d-md-flex modules__item-list">
                                <div class="modules__item-list-column">
                                    <div class="modules__item-list-item">
                                        <span>1.</span>
                                        <p>Вводный урок</p>
                                    </div>
                                    <div class="modules__item-list-item">
                                        <span>2.</span>
                                        <p>Как администратор влияет на продажи</p>
                                    </div>
                                    <div class="modules__item-list-item">
                                        <span>3.</span>
                                        <p>Типология клиентов</p>
                                    </div>
                                    <div class="modules__item-list-item">
                                        <span>4.</span>
                                        <p>Инструменты продаж</p>
                                    </div>
                                </div>
                                <div class="modules__item-list-column">
                                    <div class="modules__item-list-item">
                                        <span>5.</span>
                                        <p>Работа с маркетинговыми инструментами</p>
                                    </div>
                                    <div class="modules__item-list-item">
                                        <span>6.</span>
                                        <p>Скрипты продаж</p>
                                    </div>
                                    <div class="modules__item-list-item">
                                        <span>7.</span>
                                        <p>Работа с возражениями</p>
                                    </div>
                                    <div class="modules__item-list-item">
                                        <span>8.</span>
                                        <p>Звёздный мастер-класс</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modules__item">
                        <div class="row">
                            <div class="col-12 col-md-3 col-xxl-5 modules__item-head">
                                <div class="modules__item-num">Модуль 3</div>
                                <p class="big-txt modules__item-name">Золотой стандарт <span>профессии администратор</span></p>
                            </div>
                            <div class="col-12 col-md-9 col-xxl-7 d-block d-md-flex modules__item-list">
                                <div class="modules__item-list-column">
                                    <div class="modules__item-list-item">
                                        <span>1.</span>
                                        <p>Вводный урок</p>
                                    </div>
                                    <div class="modules__item-list-item">
                                        <span>2.</span>
                                        <p>Портрет идеального администратора</p>
                                    </div>
                                    <div class="modules__item-list-item">
                                        <span>3.</span>
                                        <p>Административно-хозяйственная деятельность</p>
                                    </div>
                                    <div class="modules__item-list-item">
                                        <span>4.</span>
                                        <p>Операционные задачи</p>
                                    </div>
                                </div>
                                <div class="modules__item-list-column">
                                    <div class="modules__item-list-item">
                                        <span>5.</span>
                                        <p>Soft-skills администратора: тайм-менеджмент, критическое мышление, эмоциональный интеллект</p>
                                    </div>
                                    <div class="modules__item-list-item">
                                        <span>6.</span>
                                        <p>Работа с командой</p>
                                    </div>
                                    <div class="modules__item-list-item">
                                        <span>7.</span>
                                        <p>Букинг и клиентоориентированный подход</p>
                                    </div>
                                    <div class="modules__item-list-item">
                                        <span>8.</span>
                                        <p>Звёздный мастер-класс</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>