<section>
    <div class="container-xl">
        <h2 class="mb-30"><span>Для кого</span> этот курс: </h2>
        <div class="for-whom">
            <div class="for-whom__item">
                <div class="for-whom__item-stick">
                    Для администраторов
                </div>
                <div class="for-whom__item-more">
                    <p>Какие выгоды от курса:</p>
                    <img src="img/arrow-right-white.svg" alt="...">
                </div>
                <img class="for-whom__item-poster" src="img/whom-1.png" alt="...">
            </div>
            <div class="for-whom__item">
                <div class="for-whom__item-stick">
                    Для управляющих
                </div>
                <div class="for-whom__item-more">
                    <p>Чем поможет курс:</p>
                    <img src="img/arrow-right-white.svg" alt="...">
                </div>
                <img class="for-whom__item-poster" src="img/whom-2.png" alt="...">
            </div>
            <div class="for-whom__item">
                <div class="for-whom__item-stick">
                    Для владельцев бизнеса
                </div>
                <div class="for-whom__item-more">
                    <p>Какие выгоды от курса:</p>
                    <img src="img/arrow-right-white.svg" alt="...">
                </div>
                <img class="for-whom__item-poster" src="img/whom-3.png" alt="...">
            </div>
            <div class="for-whom__item">
                <div class="for-whom__item-stick">
                    Для мастеров
                </div>
                <div class="for-whom__item-more">
                    <p>Что получите на курсе:</p>
                    <img src="img/arrow-right-white.svg" alt="...">
                </div>
                <img class="for-whom__item-poster" src="img/whom-4.png" alt="...">
            </div>
        </div>
    </div>
</section>