<section>
    <div class="container">
        <h2 class="text-center mb-30">Как будет <span>проходить обучение:</span></h2>
        <div class="tile">
            <div class="tile__item">
                <img src="img/icons/tile-1.svg" alt="..." class="tile__item-img">
                <p><span class="fw-bold">Короткие видеоуроки</span> на обучающей <br>платформе GetCourse</p>
            </div>
            <div class="tile__item">
                <img src="img/icons/tile-2.svg" alt="..." class="tile__item-img">
                <p><span class="fw-bold">Короткие видеоуроки</span> на обучающей <br>платформе GetCourse</p>
            </div>
            <div class="tile__item">
                <img src="img/icons/tile-3.svg" alt="..." class="tile__item-img">
                <p><span class="fw-bold">Короткие видеоуроки</span> на обучающей <br>платформе GetCourse</p>
            </div>
            <div class="tile__item">
                <img src="img/icons/tile-4.svg" alt="..." class="tile__item-img">
                <p><span class="fw-bold">Короткие видеоуроки</span> на обучающей <br>платформе GetCourse</p>
            </div>
            <div class="tile__item">
                <img src="img/icons/tile-5.svg" alt="..." class="tile__item-img">
                <p><span class="fw-bold">Короткие видеоуроки</span> на обучающей <br>платформе GetCourse</p>
            </div>
            <div class="tile__item">
                <img src="img/icons/tile-6.svg" alt="..." class="tile__item-img">
                <p><span class="fw-bold">Короткие видеоуроки</span> на обучающей <br>платформе GetCourse</p>
            </div>
        </div>
    </div>
</section>