<section>
    <div class="container-xl">
        <h2 class="text-center mb-30">Как будет <span>проходить обучение:</span></h2>
        <div class="tile">
            <div class="tile__item">
                <img src="img/icons/tile-1.svg" alt="..." class="tile__item-img">
                <p><span class="fw-bold">Короткие видеоуроки</span> на обучающей <br>платформе GetCourse</p>
            </div>
            <div class="tile__item">
                <img src="img/icons/tile-2.svg" alt="..." class="tile__item-img">
                <p><span class="fw-bold">Тестирование</span> для закрепления теории после каждого урока</p>
            </div>
            <div class="tile__item">
                <img src="img/icons/tile-3.svg" alt="..." class="tile__item-img">
                <p><span class="fw-bold">Мастер-классы</span> <br>от лидеров индустрии</p>
            </div>
            <div class="tile__item">
                <img src="img/icons/tile-4.svg" alt="..." class="tile__item-img">
                <p><span class="fw-bold">Онлайн-практикум</span> после <br>каждого модуля</p>
            </div>
            <div class="tile__item">
                <img src="img/icons/tile-5.svg" alt="..." class="tile__item-img">
                <p><span class="fw-bold">Чат с участниками</span> школы <br>(Telegram)</p>
            </div>
            <div class="tile__item">
                <img src="img/icons/tile-6.svg" alt="..." class="tile__item-img">
                <p><span class="fw-bold">Чат</span> для общения <br>с наставником (Telegram)</p>
            </div>
        </div>
    </div>
</section>