.tile {
  @include media-breakpoint-down(sm) {
    overflow: visible;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    @include media-breakpoint-down(lg) {
      grid-template-columns: 1fr 1fr;
    }
    @include media-breakpoint-down(sm) {
      display: flex;
    }
  }
  &__item {
    width: 100%;
    background-color: $white;
    padding: 20px;
    border-radius: 20px;
    &-img {
      margin-bottom: 30px;
      width: 120px;
      @include media-breakpoint-down(xl) {
        width: auto;
      }
      @include media-breakpoint-down(md) {
        margin-bottom: 16px;
      }
    }
    @include media-breakpoint-down(sm) {
      height: 228px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-start;
      width: 255px;
    }
  }
}