.tile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  @include media-breakpoint-down(lg) {
    grid-template-columns: 1fr 1fr;
  }
  &__item {
    width: 100%;
    background-color: $white;
    padding: 20px;
    border-radius: 20px;
    &-img {
      margin-bottom: 40px;
      @include media-breakpoint-down(md) {
        margin-bottom: 16px;
      }
    }
    &:first-child p br {
      display: none;
    }
  }
}