.column-info {
  margin-bottom: 80px;
  &__heading-wrap {
    @include media-breakpoint-down(lg) {
      margin-bottom: 15px;
    }
  }
  @include media-breakpoint-down(lg) {
    margin-bottom: 40px;
  }
  @include media-breakpoint-down(md) {
    margin-bottom: 30px;
  }
}

.numbers {
  @include media-breakpoint-down(md) {
    &__item {
      text-align: center;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__item--col {
    display: flex;
    align-items: center;
    & .numbers__item-desc {
      padding-left: 15px;
      flex: 1;
    }
    & .numbers__item-value {
      margin-bottom: 0;
    }
  }
  &__item-value {
    font-family: $header-font-family;
    font-size: 4em;
    line-height: 1;
    color: $second-color;
    margin-bottom: 10px;
    font-style: italic;
    @include media-breakpoint-down(md){
      font-size: 3em;
    }
  }
  &__item-desc {
    color: $gray-1;
    @include media-breakpoint-down(lg) {

    }
  }
}