.column-info {
  margin-bottom: 80px;
}

.numbers {
  &__item--col {
    display: flex;
    align-items: center;
    & .numbers__item-desc {
      padding-left: 15px;
      flex: 1;
    }
    & .numbers__item-value {
      margin-bottom: 0;
    }
  }
  &__item-value {
    font-family: $header-font-family;
    font-size: 4em;
    line-height: 1;
    color: $second-color;
    margin-bottom: 10px;
    font-style: italic;
  }
  &__item-desc {
    color: $gray-1;
  }
}