<section>
    <div class="container-xl">
        <div class="column-info row">
            <div class="column-info__heading-wrap col-lg-5">
                <h2>Почему лучше <br><span>учиться с нами</span></h2>
            </div>
            <div class="column-info__desc col-lg-7">
                <p>
                    Школа высокого сервиса «Золотой стандарт» — образовательная платформа для занятых в сфере услуг.
                    <span class="fw-bold">Наши курсы — это концентрат опыта и секретов от лидеров индустрии. Мы развиваем комплексные гибкие и жесткие навыки администраторов,
                мастеров, владельцев и управляющих.</span> Обучаем эффективным методам и стратегиям, высокому качеству обслуживания,
                    что поможет сделать клиентов лояльными и увеличить продажи.
                </p>
            </div>
        </div>

        <div class="numbers row justify-content-center justify-content-lg-start">
            <div class="numbers__item col-6 col-md-5">
                <div class="numbers__item-value">
                    2000+
                </div>
                <div class="numbers__item-desc">
                    обученных администраторов <br> и мастеров
                </div>
            </div>
            <div class="numbers__item col-6 col-md-4">
                <div class="numbers__item-value">
                    15+
                </div>
                <div class="numbers__item-desc">
                    лет опыта <br>в сфере услуг
                </div>
            </div>
            <div class="numbers__item col-12 col-sm-6 col-md-3">
                <div class="numbers__item-value">
                    4.9
                </div>
                <div class="numbers__item-desc">
                    средняя оценка бизнеса наших клиентов на Яндекс.Картах и 2ГИС
                </div>
            </div>
        </div>
    </div>
</section>