<section class="home-header">
    <div class="home-header__video-wrap">
        <video autoplay="autoplay" loop="loop">
            <source src="videos/flowers.mp4" type="video/mp4"/>
            Ваш браузер не поддерживает элемент video.
        </video>
    </div>
    <header class="container header">
        <div class="header__logo">
            <img src="img/logo.svg" alt="logo">
        </div>
        <div class="header__menu">
            <nav class="header__menu-nav">
                <a href="">О курсе</a>
                <a href="">О нас</a>
                <a href="">Программа</a>
                <a href="">Стоимость</a>
                <a href="">Спикеры</a>
                <a href="">FAQ</a>
                <a href="">Контакты</a>
            </nav>
            <button class="button button--transparent">Заказать звонок</button>
        </div>
    </header>
    <div class="home-header__info-wrap">
        <div class="container home-header__info">
            <div class="home-header__info-heading">
                <div class="home-header__info-sticker">
                    <p>Только для сферы услуг</p>
                    <img src="img/border.svg" alt="...">
                </div>
                <h1>23 урока <span>премиального сервиса</span></h1>
            </div>
            <div class="home-header__info-record">
                <p>Программа, которая повысит уровень вашего бизнеса. Станьте амбассадором сервиса, откройте новые перспективы развития</p>
                <button class="button w-100">Записаться на курс</button>
            </div>
        </div>
    </div>
</section>

