.footer {
  padding-bottom: 40px;
  a {
    display: inline;
  }
  &__link a {
    text-decoration: none;
    border-bottom: 1px solid $main-color;
  }
  &__title {
    margin-bottom: 30px;
    @include media-breakpoint-down(lg){
      margin-bottom: 20px;
    }
  }
  &__social-link {
    margin-left: 5px;
  }
  &__logo {
    @include media-breakpoint-down(md){
      width: 72px;
      margin-bottom: 20px;
    }
  }
  &__privacy {
    font-size: 0.75em;
  }
  &__requisites {
    margin-bottom: 40px;
    @include media-breakpoint-down(lg){
      margin-bottom: 20px;
    }
  }
}


