.footer {
  padding-bottom: 40px;
  a {
    display: inline;
  }
  &__link a {
    text-decoration: none;
    border-bottom: 1px solid $main-color;
  }
  &__title {
    margin-bottom: 40px;
  }
  &__social-link {
    margin-left: 5px;
  }
}
.footer__wrapper {
  margin-bottom: 40px;
}


