<footer class="footer footer--ecom">
    <div class="footer__wrapper">
        <div class="footer__nav">
            <div class="footer__column">
                <div class="footer__header">
                    <div class="footer__title">Направление</div>
                    <button class="footer__toggle" data-id="directions">
                        <i class="icon-arrow-right"></i>
                    </button>
                </div>
                <ul class="footer__info" id="directions">
                    <li class="footer__item"><a href="">diHouse distribution</a></li>
                    <li class="footer__item"><a href="">diHouse ecom</a></li>
                    <li class="footer__item"><a href="">diHouse for business</a></li>
                    <li class="footer__item"><a href="">diHouse smart solutions</a></li>
                </ul>
                <div class="footer__info-line"></div>
            </div>
            <div class="footer__column">
                <div class="footer__header">
                    <div class="footer__title">diHouse ecom</div>
                    <button class="footer__toggle" data-id="about">
                        <i class="icon-arrow-right"></i>
                    </button>
                </div>
                <ul class="footer__info" id="about">
                    <li class="footer__item"><a href="">Стать партнером</a></li>
                    <li class="footer__item"><a href="">Список официальных торговых площадок</a></li>
                    <li class="footer__item"><a href="">Сервис для розничных покупателей</a></li>
                </ul>
                <div class="footer__info-line"></div>
            </div>
            <div class="footer__column footer__column--buttons">
                <div class="footer__column-button-wrap">
                    <div class="button button--with-icon button--transparent-white footer__column-button footer__column-button--full">На главную diHouse</div>
                    <div class="button button--with-icon button--second-color footer__column-button"><i class="icon-user"></i><span>Личный кабинет</span></div>
                </div>

                <div class="footer__info-line"></div>
            </div>
        </div>

        <div class="footer__line"></div>

        <div class="footer__contact">
            <div class="footer__contact-info">
                <div class="footer__logo">
                    <a href="/">
                        <img src="img/ecom/logo-white.svg" alt="Логотип">
                    </a>
                </div>
                <ul class="footer__contact-text">
                    <li class="footer__item">Телефон:
                        <div class="footer__br"></div>
                        <a href="tel:+74956516290"> +7 (495) 651-62-90</a>,
                    </li>
                    <li class="footer__item"><a href="tel:+79689349945">+7 (968) 934-99-45</a></li>
                </ul>
                <ul class="footer__contact-text-location">
                    <div class="footer__text-location">
                        <li class="footer__item">Офис:
                            <div class="footer__br"></div>
                            пн-пт, 10:00-19:00
                        </li>
                    </div>
                    <li class="footer__item-email">E-mail: <a class="footer__email" href="mailto:info@di-house.ru">
                            info@di-house.ru</a></li>
                </ul>
                <div class="footer__social">
                    <div class="footer__icon">
                        <a class="footer__icon_color" href="https://vk.com">
                            <svg width="50" height="50" viewBox="0 0 40 40" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <circle class="footer__icon_color" cx="20" cy="20" r="20" fill="white"/>
                                <path d="M20.9972 27.2C13.344 27.2 8.97876 21.7946 8.79688 12.8H12.6305C12.7564 19.4019 15.5826 22.1982 17.8212 22.7748V12.8H21.431V18.4937C23.6416 18.2487 25.9641 15.6541 26.7477 12.8H30.3574C29.7558 16.3172 27.2373 18.9118 25.4465 19.9784C27.2373 20.8433 30.1056 23.1064 31.1969 27.2H27.2234C26.3699 24.4613 24.2432 22.3424 21.431 22.0541V27.2H20.9972Z"/>
                            </svg>
                        </a>
                    </div>
                </div>

            </div>
            <div class="footer__text-mini">© 2024 diHouse. Все права защищены.</div>
        </div>

    </div>
</footer>