<footer class="footer footer--distribution">
    <div class="footer__wrapper">
        <div class="footer__nav">
            <div class="footer__column">
                <div class="footer__header">
                    <div class="footer__title">Направление</div>
                    <button class="footer__toggle" data-id="directions">
                        <i class="icon-arrow-right"></i>
                    </button>
                </div>
                <ul class="footer__info" id="directions">
                    <li class="footer__item"><a href="">diHouse distribution</a></li>
                    <li class="footer__item"><a href="">diHouse ecom</a></li>
                    <li class="footer__item"><a href="">diHouse for business</a></li>
                    <li class="footer__item"><a href="">diHouse smart solutions</a></li>
                </ul>
                <div class="footer__info-line"></div>
            </div>
            <div class="footer__column">
                <div class="footer__header">
                    <div class="footer__title">Поставщикам</div>
                    <button class="footer__toggle" data-id="suppliers">
                        <i class="icon-arrow-right"></i>
                    </button>
                </div>
                <ul class="footer__info" id="suppliers">
                    <li class="footer__item"><a href="">Стать партнером</a></li>
                    <li class="footer__item"><a href="">Логистика</a></li>
                    <li class="footer__item"><a href="">Сервис</a></li>
                    <li class="footer__item"><a href="">Маркетинг</a></li>
                </ul>
                <div class="footer__info-line"></div>
            </div>
            <div class="footer__column">
                <div class="footer__header">
                    <div class="footer__title">Партнерам</div>
                    <button class="footer__toggle" data-id="partners">
                        <i class="icon-arrow-right"></i>
                    </button>
                </div>
                <ul class="footer__info" id="partners">
                    <li class="footer__item"><a href="">Стать партнером</a></li>
                    <li class="footer__item"><a href="">Логистика</a></li>
                    <li class="footer__item"><a href="">Сервис</a></li>
                    <li class="footer__item"><a href="">B2B-экосистема</a></li>
                </ul>
                <div class="footer__info-line"></div>
            </div>
            <div class="footer__column">
                <div class="footer__header">
                    <div class="footer__title">О компании</div>
                    <button class="footer__toggle" data-id="about">
                        <i class="icon-arrow-right"></i>
                    </button>
                </div>
                <ul class="footer__info" id="about">
                    <li class="footer__item"><a href="">Контакты</a></li>
                    <li class="footer__item"><a href="">Пользовательское соглашение</a></li>
                    <li class="footer__item"><a href="">Политика конфиденциальности</a></li>
                </ul>
                <div class="footer__info-line"></div>
            </div>
            <div class="footer__column footer__column--home-link">
                <a href="#" class="footer__home-link">
                    <i class="icon-back-arrow"></i>
                    На главную diHouse
                </a>
                <div class="footer__info-line"></div>
            </div>
            <div class="footer__column footer__column--buttons">
                <div class="footer__column-button-wrap">
                    <div class="button button--with-icon button--second-color footer__column-button"><i class="icon-user"></i><span>Личный кабинет</span></div>
                    <div class="button button--second-color footer__column-button">API-сервис</div>
                </div>

                <div class="footer__info-line"></div>
            </div>
        </div>

        <div class="footer__line"></div>

        <div class="footer__contact">
            <div class="footer__contact-info">
                <div class="footer__logo">
                    <a href="/">
                        <img src="img/Logo-white-distribution.svg" alt="Логотип">
                    </a>
                </div>
                <ul class="footer__contact-text">
                    <li class="footer__item">Телефон:
                        <div class="footer__br"></div>
                        <a href="tel:+74956516290"> +7 (495) 651-62-90</a>,
                    </li>
                    <li class="footer__item"><a href="tel:+79689349945">+7 (968) 934-99-45</a></li>
                </ul>
                <ul class="footer__contact-text-location">
                    <div class="footer__text-location">
                        <li class="footer__item">Офис:
                            <div class="footer__br"></div>
                            пн-пт, 10:00-19:00
                        </li>
                    </div>
                    <li class="footer__item-email">E-mail: <a class="footer__email" href="mailto:info@di-house.ru">
                            info@di-house.ru</a></li>
                </ul>
                <div class="footer__social">
                    <div class="footer__icon">
                        <a class="footer__icon_color" href="">
                            <svg  width="50" height="50" viewBox="0 0 40 40" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <circle class="footer__icon_color" cx="20" cy="20" r="20" fill="white"/>
                                <path d="M17.7653 17.7633C19.3516 16.1847 19.6379 13.8169 19.692 9.59961C14.1903 9.76211 9.7718 14.1883 9.60156 19.6901C13.8111 19.6359 16.1867 19.3496 17.7653 17.771V17.7633Z"/>
                                <path d="M20.3111 9.59961C20.3653 13.8091 20.6516 16.1847 22.2301 17.7633C23.8087 19.3419 26.1766 19.6359 30.3938 19.6823C30.2391 14.1883 25.8129 9.76211 20.3111 9.59961Z"/>
                                <path d="M9.60156 20.3091C9.76406 25.8032 14.1903 30.2294 19.6843 30.3919C19.6301 26.1823 19.3438 23.8068 17.7653 22.2282C16.1867 20.6496 13.8188 20.3633 9.60156 20.3091Z"/>
                                <path d="M22.2379 22.2359C20.6593 23.8145 20.3653 26.1823 20.3188 30.3996C25.8129 30.2371 30.2391 25.8109 30.4016 20.3169C26.192 20.371 23.8164 20.6573 22.2379 22.2359Z"/>
                            </svg>
                        </a>
                    </div>
                    <div class="footer__icon">
                        <a class="footer__icon_color" href="https://vk.com">
                            <svg width="50" height="50" viewBox="0 0 40 40" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <circle class="footer__icon_color" cx="20" cy="20" r="20" fill="white"/>
                                <path d="M20.9972 27.2C13.344 27.2 8.97876 21.7946 8.79688 12.8H12.6305C12.7564 19.4019 15.5826 22.1982 17.8212 22.7748V12.8H21.431V18.4937C23.6416 18.2487 25.9641 15.6541 26.7477 12.8H30.3574C29.7558 16.3172 27.2373 18.9118 25.4465 19.9784C27.2373 20.8433 30.1056 23.1064 31.1969 27.2H27.2234C26.3699 24.4613 24.2432 22.3424 21.431 22.0541V27.2H20.9972Z"/>
                            </svg>
                        </a>
                    </div>
                    <div class="footer__icon">
                        <a class="footer__icon_color" href="https://www.youtube.com">
                            <svg width="50" height="50" viewBox="0 0 40 40" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <circle class="footer__icon_color" cx="20" cy="20" r="20" fill="white"/>
                                <path d="M29.2879 15.3352C29.1931 14.553 28.5456 13.9296 27.7291 13.874C22.5786 13.5086 17.424 13.5086 12.2735 13.874C11.457 13.9335 10.8096 14.553 10.7147 15.3352C10.2982 18.7104 10.2982 22.0896 10.7147 25.4647C10.8096 26.247 11.457 26.8704 12.2735 26.926C17.424 27.2913 22.5786 27.2913 27.7291 26.926C28.5456 26.8664 29.1931 26.247 29.2879 25.4647C29.7044 22.0896 29.7044 18.7104 29.2879 15.3352ZM23.0446 20.3424L18.3972 22.9036C18.2281 22.9989 18.0137 22.8797 18.0137 22.6891V17.5668C18.0137 17.3762 18.224 17.2611 18.3972 17.3524L23.0446 19.9136C23.2178 20.0089 23.2178 20.2471 23.0446 20.3384V20.3424Z"/>
                            </svg>
                        </a>
                    </div>
                </div>

            </div>
            <div class="footer__text-mini">© 2024 diHouse. Все права защищены.</div>
        </div>

    </div>
</footer>