.radio{
  position: relative;
  display: flex;
  &__input{
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }
  &__span{
    position: relative;
    display: block;
    cursor: pointer;
    height: 24px;
    width: 24px;
    border-radius: 12px;
    border: 1px solid $main-color;

    &:after{
      content: "";
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      height: 9px;
      width: 9px;
      border-radius: 5px;
      background-color: $white;
      position: absolute;
      display: none;
    }
  }
  &__text{
    font-size: 16px;
    font-weight: 700;
    flex: 1;
    padding-left: 20px;
  }
  &:hover .radio__input:not(:checked) ~ .radio__span{
    border-color: $second-color;

    &:after{
      display: block;
      background-color: $second-color;
    }
  }
  .radio__input:checked ~ .radio__span{
    background-color: $second-color;
    border-color: $second-color;
    &:after{
      display: block;
    }
  }
}