<div id="modal" class="modal">
    <div class="modal-content">
        <video controls data-modal="video">
            <source src="videos/dihouse.mp4" type="video/mp4"/>
            Ваш браузер не поддерживает элемент video.
        </video>
        <i class="icon-cross modal__close-button" data-modal="close"></i>
    </div>
</div>