{% extends "base.njk" %}

{% block content %}
    <section>
        <div class="big-txt-wrap text-center">
            <p class="big-txt"><span>Прокачайте свои навыки в сервисе, который продает,</span> если вы администратор или мастер. <span>Повысьте ключевые показатели бизнеса,</span> если вы собственник или управляющий.</p>
        </div>
    </section>
    {% include 'components/for-whom/for-whom.njk' %}
{% endblock %}
