{% extends "base.njk" %}

{% block content %}
    <section data-aos="fade-in" data-aos-duration="1500" data-aos-once="true">
        <div class="big-txt-wrap text-center">
            <p class="big-txt"><span>Прокачайте свои навыки в сервисе, который продает,</span> если вы администратор или мастер. <span>Повысьте ключевые показатели бизнеса,</span> если вы собственник или управляющий.</p>
        </div>
    </section>
    {% include 'components/for-whom/for-whom.njk' %}
    {% include 'components/why-we/why-we.njk' %}
    {% include 'components/tile/tile.njk' %}
    <section data-aos="fade-in" data-aos-duration="1500" data-aos-once="true">
        <div class="container text-center">
            <h2 class="mb-20">Успешность бизнеса в сфере услуг напрямую зависит от качества обслуживания. <br><span>Прокачайте уровень сервиса <br>в школе«Золотой стандарт».</span></h2>
            <p class="mb-20">Присоединяйтесь к нам и монетизируйте впечатления <br>клиентов от идеально оказанных услуг.</p>
            <button class="mx-auto button button--middle">Записаться на курс</button>
        </div>
    </section>
    {% include 'components/modules/modules.njk' %}
    {% include 'components/tariffs/tariffs.njk' %}
    {% include 'components/target/target.njk' %}
    <section data-aos="fade-in" data-aos-duration="1500" data-aos-once="true">
        <div class="container-lg text-center">
            <h2 class="mb-20">Присоединяйтесь к нам и станьте <br class="d-none d-sm-inline"><span>частью этого важного процесса!</span></h2>
            <button class="mx-auto button button--middle">Записаться на курс</button>
        </div>
    </section>
    {% include 'components/speakers/speakers.njk' %}
    {% include 'components/faq/faq.njk' %}
    <section>
        <div class="container text-center">
            <h2 class="mb-20">Записаться <span>на курс</span></h2>
            <div class="d-block d-sm-flex justify-content-center">
                <button class="button button--small mb-3 mb-sm-0 me-sm-1">Тариф «ИНДИВИДУАЛЬНЫЙ»</button>
                <button class="button button--small button--white ms-1">Тариф «КОМАНДНЫЙ»</button>
            </div>
        </div>
    </section>
    <div class="popup" id="popupForAdmin">
        <div class="popup__body">
            <div class="popup__content">
                <div class="popup__close-btn popup__close-btn--dark" data-popup="close-popup"><i class="icon-cross"></i></div>
                <div class="popup__wrap">
                    <p class="big-txt text-center mb-1 popup__title">Для <span>администраторов</span></p>
                    <p class="text-center mb-4 popup__sub-title">Что получите на курсе:</p>
                    <ul class="popup__list">
                        <li>Создадите и прокачаете личный бренд</li>
                        <li>Повысите свою компетенцию</li>
                        <li>Освоите лайфхаки, как стать собственником салона</li>
                        <li>Разовьете навыки для увеличения дохода</li>
                        <li>Ускорите карьерный рост</li>
                        <li>Укрепите свой авторитет</li>
                        <li>Повысите уровень удовлетворенности от работы</li>
                    </ul>
                    <button class="button button--full mb-2">Записаться на курс</button>
                </div>
            </div>
        </div>
    </div>
    <div class="popup" id="popupIndividualTariff">
        <div class="popup__body">
            <div class="popup__content">
                <div class="popup__close-btn popup__close-btn--dark" data-popup="close-popup"><i class="icon-cross"></i></div>
                <div class="popup__wrap">
                    <p class="big-txt text-center mb-1 popup__title">ТАРИФ <span>«ИНДИВИДУАЛЬНЫЙ»</span></p>
                    <p class="text-center mb-4 popup__sub-title">Предложение для администраторов и&nbsp;мастеров
                    </p>
                    <p>
                        Воспользуйтесь возможностью сэкономить и получить максимум знаний! При покупке всех 3 модулей сейчас скидка составит 34%
                        <br>Не откладывайте на потом свой личный рост!
                    </p>
                    <fieldset class="tariffs__select-points">
                        <label class="checkbox">
                            <input class="checkbox__input" type="checkbox" name="tariff-individual" value="1">
                            <span class="checkbox__span"></span>
                            <span class="checkbox__text">Модуль 1. Золотой стандарт сервиса</span>
                        </label>
                        <label class="checkbox">
                            <input class="checkbox__input" type="checkbox" name="tariff-individual" value="2">
                            <span class="checkbox__span"></span>
                            <span class="checkbox__text">Модуль 2. Золотой стандарт продаж</span>
                        </label>
                        <label class="checkbox">
                            <input class="checkbox__input" type="checkbox" name="tariff-individual" value="3">
                            <span class="checkbox__span"></span>
                            <span class="checkbox__text">Модуль 3. Золотой стандарт профессии администратор</span>
                        </label>
                    </fieldset>
                    <div class="tariffs">

                    </div>
                    <button class="button button--full mb-2">Записаться на курс</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        AOS.init();
    </script>
{% endblock %}
