{% extends "base.njk" %}

{% block content %}
    <section>
        <div class="big-txt-wrap text-center">
            <p class="big-txt"><span>Прокачайте свои навыки в сервисе, который продает,</span> если вы администратор или мастер. <span>Повысьте ключевые показатели бизнеса,</span> если вы собственник или управляющий.</p>
        </div>
    </section>
    {% include 'components/for-whom/for-whom.njk' %}
    {% include 'components/why-we/why-we.njk' %}
    {% include 'components/tile/tile.njk' %}
    <section>
        <div class="container text-center">
            <h2 class="mb-20">Успешность бизнеса в сфере услуг напрямую зависит от качества обслуживания. <br><span>Прокачайте уровень сервиса <br>в школе«Золотой стандарт».</span></h2>
            <p class="mb-20">Присоединяйтесь к нам и монетизируйте впечатления <br>клиентов от идеально оказанных услуг.</p>
            <button class="mx-auto button button--middle">Записаться на курс</button>
        </div>
    </section>
    {% include 'components/modules/modules.njk' %}
    {% include 'components/tariffs/tariffs.njk' %}
    {% include 'components/target/target.njk' %}
    <section>
        <div class="container-lg text-center">
            <h2 class="mb-20">Присоединяйтесь к нам и станьте <br class="d-none d-sm-inline"><span>частью этого важного процесса!</span></h2>
            <button class="mx-auto button button--middle">Записаться на курс</button>
        </div>
    </section>
    {% include 'components/speakers/speakers.njk' %}
    {% include 'components/faq/faq.njk' %}
    <section>
        <div class="container text-center">
            <h2 class="mb-20">Записаться <span>на курс</span></h2>
            <div class="d-flex justify-content-center">
                <button class="button button--small me-1">Тариф «ИНДИВИДУАЛЬНЫЙ»</button>
                <button class="button button--small button--white ms-1">Тариф «КОМАНДНЫЙ»</button>
            </div>
        </div>
    </section>
{% endblock %}
