section {
  margin-bottom: 10em;
  @include media-breakpoint-down(xl) {
    margin-bottom: 5.625em;
  }
  @include media-breakpoint-down(md) {
    margin-bottom: 5em;
  }
}
.overflow-hidden-mobile{
  @include media-breakpoint-down(lg){
    overflow: hidden;
  }
}

.heading{
  font-size: 40px;
  color: $main-text-color;
  font-family: $header-font-family;
  line-height: 40px;
  font-weight: 700;
  @include media-breakpoint-down(lg) {
    font-size: 24px;
    line-height: 24px;
  }
}

.link{
  display: inline;
  text-decoration: underline;
  transition: $default-transition;
  color: $second-color;

  &:hover{
    color: $second-color;
  }
}

.main-container{
  width: 100%;
  overflow: hidden;
  &__heading{
    margin-bottom: 27px;

    @include media-breakpoint-up(md){
      margin-bottom: 35px;
    }
    @include media-breakpoint-down(lg){
      line-height: 29px;
    }
  }
}

.big-txt-wrap {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  @include media-breakpoint-down(1000px) {
    padding: 0 20px;
  }
}

.big-txt {
  font-family: $header-font-family;
  font-size: 1.75em;
  text-transform: uppercase;
  & span {
    font-style: italic;
  }
  @include media-breakpoint-down(xl) {
    font-size: 1.5em;
  }
  @include media-breakpoint-down(md) {
    font-size: 1.25em;
  }
}

p span {
  color: $second-color;
}

.mb-30 {
  margin-bottom: 30px;
  @include media-breakpoint-down(md) {
    margin-bottom: 20px;
  }
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-md-15 {
  @include media-breakpoint-down(md) {
    margin-bottom: 15px;
  }
}

.heading-ico--star {
  position: relative;
  display: inline;
  &:before {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    background-image: url("../img/icons/star.svg");
    top: -35px;
    right: -55px;
    z-index: 1;
    background-size: cover;
    @include media-breakpoint-down(xl){
      width: 48px;
      height: 48px;
    }
    @include media-breakpoint-down(md){
      width: 36px;
      height: 36px;
      top: -25px;
      right: -40px;
    }
    @media screen and (max-width: 400px){
      right: -30px;
    }
    @media screen and (max-width: 380px){
      right: -85%;
    }
  }
}

#aboutСourse:before,
#about:before,
#program:before,
#price:before,
#speakers:before,
#contacts:before,
#faq:before {
  display: block;
  content: "";
  height: 100px;
  margin: -100px 0 0;
}