.tariffs {
  &__item {
    height: 670px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    border-radius: 20px;
    background-color: $white;
    position: relative;
    @include media-breakpoint-down(xl){
      height: 550px;
    }
    @include media-breakpoint-down(lg){
      padding: 20px;
      height: 440px;
    }
    @include media-breakpoint-down(sm){
      height: 400px;
    }
    &:first-child {
      @include media-breakpoint-down(md){
        margin-bottom: 15px;
      }
    }
  }
  &__heading-sub-title {
    font-size: 1.125em;
    color: $gray-1;
    margin-top: 10px;
  }
  &__price-box {
    max-width: 315px;
    margin-bottom: 20px;
    @include media-breakpoint-down(lg){
      width: 100%;
      max-width: 100%;
    }
  }
  &__old-price {
    font-size: 1.5em;
    color: $gray-1;
    font-family: $header-font-family;
    position: relative;
    &:before {
      content: "";
      display: block;
      width: 100%;
      position: absolute;
      border-top: 1px solid $gray-1;
      top: 50%;
    }
  }
  &__discount {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-percent {
        background-color: var(--body-background-color);
        padding: 7px 14px;
        border-radius: 20px;
        color: $second-color;
      }
  }
  &__price {
    font-size: 3em;
    color: $third-color;
    line-height: 1.2;
    font-family: $header-font-family;
  }
  &__ico {
    position: absolute;
    top: 40px;
    right: 40px;
    @include media-breakpoint-down(xxl){
      right: 20px;
    }
    @include media-breakpoint-down(lg){
      top: 20px;
    }
    &--flag {
      @include media-breakpoint-down(lg){
        width: 32px;
      }
    }
    &--heart {
      @include media-breakpoint-down(lg){
        width: 64px;
      }
    }
  }
  &__item--active {
    background-color: $second-color;
    .tariffs__heading-title {
      color: $white;
    }
    .tariffs__heading-sub-title {
      color: $white;
    }
    .tariffs__price-box {
      color: $white;
    }
    .tariffs__old-price {
      color: $white;
      &:before {
        border-top: 1px solid $white;
      }
    }
    .tariffs__discount-percent {
      background-color: $white;
    }
  }
}
