<section>
    <div class="container-xl">
        <h2 class="text-center mb-30">Как купить <span>курс выгодно:</span></h2>
        <div class="tariffs row">
            <div class="col-12 col-md-6">
                <div class="tariffs__item">
                    <div class="tariffs__heading">
                        <p class="big-txt tariffs__heading-title">
                            Тариф <br class="d-inline d-xl-none"><i>«ИНДИВИДУАЛЬНЫЙ»</i>
                        </p>
                        <p class="tariffs__heading-sub-title">
                            Предложение для администраторов <br>и мастеров
                        </p>
                    </div>
                    <div class="tariffs__info">
                        <div class="tariffs__price-box">
                            <div class="tariffs__discount">
                                <span class="tariffs__old-price">13 990 ₽</span>
                                <span class="tariffs__discount-percent">-25%</span>
                            </div>
                            <div class="tariffs__price">
                                От <i>9 900 ₽</i>
                            </div>
                            <p>Обучайтесь высокому сервису выгодно: сами или с коллегой.</p>
                        </div>
                        <button class="button button--full">Записаться на курс со скидкой</button>
                    </div>
                    <img src="img/icons/tariff-1.svg" alt="..." class="tariffs__ico tariffs__ico--flag">
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="tariffs__item tariffs__item--active">
                    <div class="tariffs__heading">
                        <p class="big-txt tariffs__heading-title">
                            Тариф <br class="d-inline d-xl-none"><i>«Командный»</i>
                        </p>
                        <p class="tariffs__heading-sub-title">
                            Предложение для собственников <br>и управляющих бизнеса в сфере услуг
                        </p>
                    </div>
                    <div class="tariffs__info">
                        <div class="tariffs__price-box">
                            <div class="tariffs__discount">
                                <span class="tariffs__old-price">49 990 ₽</span>
                                <span class="tariffs__discount-percent">-25%</span>
                            </div>
                            <div class="tariffs__price">
                                От <i>39 900 ₽</i>
                            </div>
                            <p>Обучайтесь высокому сервису выгодно: сами или с коллегой.</p>
                        </div>
                        <button class="button button--full button--white">Записаться на курс со скидкой</button>
                    </div>
                    <img src="img/icons/tariff-2.svg" alt="..." class="tariffs__ico tariffs__ico--heart">
                </div>
            </div>
        </div>
    </div>
</section>